<div th:fragment="booklist">
    <p class="description">회원가입 후, 책을 등록하여, 읽은 페이지와 감상평을 남겨보세요. 당신의 독서 여정을 기록해보세요.</p>
    <div class="book-container">
        <div class="book-card">
            <img th:src="@{/images/book-01.png}" alt="나미야 잡화점의 기적">
            <p>나미야 잡화점의 기적</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-02.png}" alt="하늘과 바람과 별과 시">
            <p>하늘과 바람과 별과 시</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-03.png}" alt="면도날">
            <p>면도날</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-04.png}" alt="트렌드 코리아 2025">
            <p>트렌드 코리아 2025</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-05.png}" alt="채식주의자">
            <p>채식주의자</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-06.png}" alt="서랍에 저녁을 넣어 두었다">
            <p>서랍에 저녁을 넣어 두었다</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-07.png}" alt="예술 도둑">
            <p>예술 도둑</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-08.png}" alt="시대예보: 호명사회">
            <p>시대예보: 호명사회</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-09.png}" alt="급류">
            <p>급류</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-10.png}" alt="일의 감각">
            <p>일의 감각</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-11.png}" alt="기록이라는 세계">
            <p>기록이라는 세계</p>
        </div>
        <div class="book-card">
            <img th:src="@{/images/book-12.png}" alt="대온실 수리 보고서">
            <p>대온실 수리 보고서</p>
        </div>
    </div>
</div>
