<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading-Journal</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:inline="javascript">
        window.onload = function() {
            let alertMessage = /*[[${alertMessage}]]*/ null;
            if (alertMessage) {
                alert(alertMessage);
            }
        }
    </script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <h2>당신의 책을 기록하세요.</h2>
    <div sec:authorize="isAnonymous()">
        <div th:replace="~{fragments/booklist :: booklist}"></div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div class="book-container">
            <div th:each="bookCard : ${bookCards}" class="book-card">
                <a th:href="@{/reading-journal/journal-list(bookId=${bookCard.bookId})}">
                    <img th:src="@{${bookCard.bookImageUrl}}" th:alt="${bookCard.bookTitle}">
                </a>
                <p th:text="${bookCard.bookTitle}"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
