<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Journal - 감상평 상세</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/journal-detail.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="main-container">
    <section class="review-detail-section">
        <h2>감상평 상세</h2>
        <div class="review-info">
<!--            <p><strong>책:</strong> <span th:text="${journalDetail.journal.bookTitle}"></span></p>-->
            <p><strong>시작 페이지:</strong> <span th:text="${journalDetail.journal.startPage}"></span></p>
            <p><strong>마지막 페이지:</strong> <span th:text="${journalDetail.journal.endPage}"></span></p>
        </div>
        <div class="review-content">
            <h3>감상평</h3>
            <textarea readonly th:text="${journalDetail.journal.review}"></textarea>
        </div>
        <div th:if="${journalDetail.memorablePhraseResList.size()} > 0" class="deep-thought-section">
            <h3>인상 깊은 문장</h3>
            <div class="deep-thought">
                <div class="thought-container" th:each="phrase : ${journalDetail.memorablePhraseResList}">
                    <p><strong>페이지:</strong> <span th:text="${phrase.page}"></span></p>
                    <textarea readonly th:text="${phrase.phrase}"></textarea>
                </div>
            </div>
        </div>
        <form th:action="@{/reading-journal/journal-update}" method="get">
            <input type="hidden" name="journalId" th:value="${journalDetail.journal.journalId}">
            <button type="submit" class="edit-btn">수정</button>
        </form>
        <form th:action="@{/reading-journal/journal-delete/{journalId}(journalId=${journalDetail.journal.journalId})}" method="post">
            <button type="submit" class="delete-btn" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
        </form>
    </section>
</main>
</body>
</html>