<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Journal - 감상평 작성</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/journal-write.css}">
    <script th:src="@{/js/journal-write.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="main-container">
    <section class="review-write-section">
        <h2>감상평 작성</h2>
        <!-- Form 시작 -->
        <form th:action="@{/reading-journal/journal-write}"  th:object="${journalWriteReq}" method="post">
            <input type="hidden" name="bookId" th:value="${bookId}">
            <div class="review-info">
                <p>
                    <strong>시작 페이지</strong>
                    <input type="number" id="startPage" th:field="*{startPage}" class="page-input" required>
                </p>
                <p>
                    <strong>마지막 페이지</strong>
                    <input type="number" id="endPage" th:field="*{endPage}" class="page-input" required>
                </p>
            </div>
            <div class="review-content">
                <h3>감상평</h3>
                <textarea id="review" placeholder="감상평을 입력하세요" th:field="*{review}" required></textarea>
            </div>
            <div class="deep-thought-section">
                <h3>인상 깊은 문장
                    <button type="button" id="add-thought-btn" class="add-btn">추가</button>
                </h3>
                <div id="thoughts-container">
                </div>
            </div>
            <button type="submit" class="submit-btn">등록</button>
        </form>
    </section>
</main>
</body>
</html>